html.index
  .title
    position: absolute
    top: 30%
    left: 0

    font-family: Georgia, serif
    font-style: italic
    font-size: 50px
    font-weight: 300
    text-align: center
    right: 0
    color: #333
    text-shadow: 2px 2px 0px #FFF,3px 3px 2px #CCC
