---
layout: default.jade
stylesheets:
  - blog
  - bootstrap
  - sunburst
  - components/plot
  - components/cover
javascripts:
  - d3
  - lodash
  - jquery
  - bootstrap/tab
  - components/cover
---
!= partial('cover')

.row
   .col-md-offset-2.col-md-8
    {{> body }}
