---
layout: blog-wrap.jade
published: true
date: 2014-07-09
---
!= partial('cover')

.home
  a(href="/blog/")
    != icon('chevron-left')

.container-fluid.content
  .row
     .col-md-offset-2.col-md-8
      {{> body }}
  
  .footer
    a(href=shareOnTwitter('TODO:url', title))
      != icon('twitter')
