---
layout: default.jade
stylesheets:
  - blog
  - bootstrap
  - sunburst
  - base/typography
  - base/image
  - base/bootstrap_adjustments
  - components/plot
  - components/cover
  - components/figure
  - components/table
  - components/hljs
javascripts:
  - d3
  - lodash
  - jquery
  - bootstrap/tab
  - components/cover
  - components/plot
---
!= partial('cover')

.row
   .col-md-offset-2.col-md-8
    {{> body }}
