---
layout: default.jade
pageHTMLClass: dotfiles
---

.home
  a(href="/")
    != icon('chevron-left')

.container-fluid.content
  .row
    .col-md-offset-2.col-md-8
      {{> body }}
  
  .footer
    a(href=shareOnTwitter(pageUrl(), title))
      != icon('twitter')
