doctype html
html.no-js(lang="en" class=pageClass(page, config))
  head
    != partial('head')
    
    != pageStyles(page, config)
  body
    | <!--[if lt IE 10]>
    |   <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    {{> body }}
