.cover
  background: black
  overflow: hidden
  margin-bottom: 50px

  .title
    position: absolute
    top: 40%
    left: 0
    right: 0
    text-align: center
    z-index: 1000
    /* color: #FFA
    /* text-shadow: -1px -1px 0 #FFE, 4px 4px 8px rgba(0,0,0,0.5)
    color: white
    text-shadow: 2px 2px 0px black
    font-style: italic
    font-weight: bold

  .intro
    color: white
    bottom: 20px
    position: absolute
    text-align: center
    z-index: 500
    font-style: italic

  .background
    width: 100%
