---
title: Gumba
pageSpecificJavascripts:
  - jquery
  - bootstrap/tab
pageSpecificStylesheets:
  - bootstrap
  - font-awesome
  - base/typography
  - base/bootstrap_adjustments
  - gumba
  - components/hljs
  - sunburst
---

.container-fluid
  .row
    .col-md-10.col-md-offset-1
      h1 Gumba

      p
        | Gumba is the tool which gives you ability to use CoffeeScript and
        = ' '
        a(href="https://github.com/epeli/underscore.string")  underscore.string
        = ' '
        | goodness right inside your command line. Think of it as of modern variation of
        = ' '
        code awk
        = ' '
        | or
        = ' '
        code sed
        | . So if you like CoffeeScript and you don't like command line magic, try Gumba!

      p Take a look at these examples:
      .well
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#example1-with-gumba" data-toggle="tab" role="tab")
              | Gumba
          li
            a(href="#example1-without-gumba" data-toggle="tab" role="tab")
              | Without Gumba

        .tab-content
          .tab-pane.active#example1-with-gumba
            pre.hljs.bash
              | $ echo ' test ' |
              span.hljs-title  gumba 'trim()'
              = '\n'
              | → test
          .tab-pane#example1-without-gumba
            pre.hljs.bash.old
              | $ echo ' test ' | sed -e 's/^ *//g' -e 's/ *$//g'
              | → test


      .well
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#example2-with-gumba" data-toggle="tab" role="tab")
              | Gumba
          li
            a(href="#example2-without-gumba" data-toggle="tab" role="tab")
              | Without Gumba

        .tab-content
          .tab-pane.active#example2-with-gumba
            pre.hljs.bash
              | $ echo '1234567' |
              span.hljs-title  gumba 'toNumber().numberFormat()'
              = '\n'
              | → 1,234,567
          .tab-pane#example2-without-gumba
            pre.hljs.bash.old
              | $ echo '1234567' | sed -e :a -e 's/\(.*[0-9]\)\([0-9]\{3\}\)/\1,\2/;ta'
              | → 1,234,567


      .well
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#example3-with-gumba" data-toggle="tab" role="tab")
              | Gumba
          li
            a(href="#example3-without-gumba" data-toggle="tab" role="tab")
              | Without Gumba
        .tab-content
          .tab-pane.active#example3-with-gumba
            pre.hljs.bash
              | $ echo 'bulbasaur chermander pikachu' |
              span.hljs-title  gumba 'titleize().words().toSentence()'
              = '\n'
              | → Bulbasaur, Chermander and Pikachu
          .tab-pane#example3-without-gumba
            pre.hljs.bash.old
              | $ echo 'bulbasaur chermander pikachu' | ?????
              | → PROFIT!!!
      p
        | Go ahead checkout the docs on
        a(href="https://github.com/welldan97/gumba")
          |  GitHub
        |.
      p.center
        a.btn.btn-default(href="https://github.com/welldan97/gumba")
          != icon('github-alt')
          |  GitHub
        | &nbsp;
        a.btn.btn-primary(href="https://twitter.com/share?url=http%3A//gumba.welldan97.com/&text=Gumba%20-%20coffeescript%20and%20underscore.string%20right%20inside%20your%20command%20line")
          != icon('twitter')
          |  Share
