---
title: Getting Great Photos from Instagram
description:
  In this article I describe how I found out which photos I've posted on
  Instagram were really popular, and which got many likes just because
  more people started following me over time.

layout: blog.jade
pageSpecificStylesheets:
  - components/plot-image-likes

pageSpecificJavascripts:
  - components/plot-image-likes-data
  - components/plot-image-likes
---

!= bridgeMarkdown(options)
